In [1]:
import pandas as pd

/var/folders/2b/852xtlmn3vbb05yhtblgdw980000gn/T/ipykernel_50571/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
all_species_excel = pd.ExcelFile('All Taxa Species Lists 07152019 (1).xlsx')

In [4]:
species_status = pd.DataFrame()

for animal_type in all_species_excel.sheet_names:
    print(animal_type)
    sheet = pd.read_excel(all_species_excel, animal_type)
    if 'RSGCN Status' in sheet.columns:
        species_status = pd.concat([species_status, sheet[['Scientific Name', 'RSGCN Status']]])

Mammals
Marine Mammals
Birds
Reptiles
Amphibians
Freshwater Fish
Marine Fish
Crayfish
Mussels
Bumble Bees
Lepidoptera

In [5]:
# There is a problem in the data. After researching, the species seems to not be in danger at all
species_status[species_status[['Scientific Name']].duplicated(keep=False)]

       Scientific Name RSGCN Status
20   Caracara cheriway       A) Yes
150  Caracara cheriway        C) No

In [6]:
species_status = species_status.drop(species_status[(species_status['Scientific Name'] == 'Caracara cheriway')
                                   & (species_status['RSGCN Status'] == 'A) Yes')].index)

In [7]:
species_status[species_status[['Scientific Name']].duplicated(keep=False)]

Empty DataFrame
Columns: [Scientific Name, RSGCN Status]
Index: []

In [8]:
watershed_data = pd.read_excel('WorkingCopyOfWatershedData_ForRSGCN.xlsx')

In [9]:
species_status['Scientific Name']

0              Baiomys taylori
1             Blarina shermani
2                  Canis rufus
3         Chaetodipus hispidus
4     Corynorhinus rafinesquii
                ...
9                Bombus vagans
10             Bombus citrinus
11           Bombus sandersoni
12          fernaldae/flavidus
13            Bombus perplexus
Name: Scientific Name, Length: 2236, dtype: object

In [10]:
merged = watershed_data.merge(species_status, left_on='gname', right_on='Scientific Name', how='left')

In [11]:
merged[['RSGCN Status']] = merged[['RSGCN Status']].fillna('No Match')

In [20]:
merged = merged.drop(columns=['Scientific Name'])

In [14]:
merged.groupby('RSGCN Status').size()

RSGCN Status
A) Yes           3769
B) Watch List      28
C) No             333
No Match         2196
dtype: int64

In [19]:
merged

,OID_,element_gl,major_subg,gname,g_comname,g_rank,rounded_g_,usesa_stat,max_obs_ye,best_eo_ra,occ_src,watershed_,watershed1,nsx_link,Scientific Name,RSGCN Status
0,1494,802300,Amphibians,Ambystoma bishopi,Reticulated Flatwoods Salamander,G2,G2,E,1997,,NHP,3130009,Ichawaynochaway,https://explorer.natureserve.org/Taxon/ELEMENT...,Ambystoma bishopi,A) Yes
1,1495,802300,Amphibians,Ambystoma bishopi,Reticulated Flatwoods Salamander,G2,G2,E,2016,,NHP,3140105,Pensacola Bay,https://explorer.natureserve.org/Taxon/ELEMENT...,Ambystoma bishopi,A) Yes
2,1496,802300,Amphibians,Ambystoma bishopi,Reticulated Flatwoods Salamander,G2,G2,E,1981,,NHP,3130004,Lower Chattahoochee,https://explorer.natureserve.org/Taxon/ELEMENT...,Ambystoma bishopi,A) Yes
3,1497,802300,Amphibians,Ambystoma bishopi,Reticulated Flatwoods Salamander,G2,G2,E,2020,,NHP,3130010,Spring,https://explorer.natureserve.org/Taxon/ELEMENT...,Ambystoma bishopi,A) Yes
4,1498,802300,Amphibians,Ambystoma bishopi,Reticulated Flatwoods Salamander,G2,G2,E,1998,,NHP,3140101,St. Andrew-St. Joseph Bays,https://explorer.natureserve.org/Taxon/ELEMENT...,Ambystoma bishopi,A) Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6321,281158,105823,Turtles,Sternotherus depressus,Flattened Musk Turtle,G1,G1,T,1999,,NHP,3160109,Mulberry,https://explorer.natureserve.org/Taxon/ELEMENT...,Sternotherus depressus,A) Yes
6322,281159,105823,Turtles,Sternotherus depressus,Flattened Musk Turtle,G1,G1,T,1985,,NHP,3160111,Locust,https://explorer.natureserve.org/Taxon/ELEMENT...,Sternotherus depressus,A) Yes
6323,281160,105823,Turtles,Sternotherus depressus,Flattened Musk Turtle,G1,G1,T,1981,,NHP,3160107,Sipsey,https://explorer.natureserve.org/Taxon/ELEMENT...,Sternotherus depressus,A) Yes
6324,281161,105823,Turtles,Sternotherus depressus,Flattened Musk Turtle,G1,G1,T,1981,,NHP,3160112,Upper Black Warrior,https://explorer.natureserve.org/Taxon/ELEMENT...,Sternotherus depressus,A) Yes
6325,281162,105823,Turtles,Sternotherus depressus,Flattened Musk Turtle,G1,G1,T,2013,,NHP,3160110,Sipsey Fork,https://explorer.natureserve.org/Taxon/ELEMENT...,Sternotherus depressus,A) Yes

In [21]:
merged.to_csv('watershed_data_with_rsgcn_status.csv')